name: Test

on:
  push:
    branches: [main, master, develop]
  pull_request:
    branches: [main, master, develop]
  merge_group:
    branches: [main, master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTC_WRAPPER: "sccache"
  SCCACHE_GHA_ENABLED: "true"

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Cache cargo registry & git sources
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-check-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-check-${{ hashFiles('**/Cargo.lock') }}
            ${{ runner.os }}-cargo-check-
            ${{ runner.os }}-cargo-

      - name: Run sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install Rust toolchain
        run: make setup

      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run cargo check
        run: make check

  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Cache cargo registry & git sources
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-unittest-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-unittest-${{ hashFiles('**/Cargo.lock') }}
            ${{ runner.os }}-cargo-unittest-
            ${{ runner.os }}-cargo-

      - name: Run sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install Rust toolchain
        run: make setup

      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run unit tests
        run: make test-release
        env:
          RUSTFLAGS: "-D warnings"

  integration-test:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Cache cargo registry & git sources
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-integration-test-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-integration-test-${{ hashFiles('**/Cargo.lock') }}
            ${{ runner.os }}-cargo-integration-test-
            ${{ runner.os }}-cargo-

      - name: Run sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install Rust toolchain
        run: make setup

      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build client
        run: make build-release

      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18

      - name: Run integration tests
        run: make integration-test
